@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
.date{
    width: 80%;
    background-color: hsl(127, 100%, 13%);
    margin: 8rem auto 0rem auto;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 8px;
    .day{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 150px;
        color: #fff;
        .t_day{
            letter-spacing: 1px;
        }
    }
}

.currentday{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0rem  auto 3rem auto;
    padding: 18px;
    border-bottom: 1px solid hsl(127, 100%, 13%);
    border-right: 1px solid hsl(127, 100%, 13%);
    border-left: 1px solid hsl(127, 100%, 13%);
    flex-wrap: wrap;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    span{
        letter-spacing: 1px;
        font-size: 18px;
        color: hsl(127, 100%, 13%);
        width: 200px;
        text-align: center;
    }
}