
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Orbitron&display=swap');
  .loader{
    font-size: 110%;
    color: hsl(127, 100%, 13%);
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    width: 100%;
    text-align: center;
    position: fixed;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    animation :6s displ  ease-in-out;
  }
  .loader:before{
    content: '';
    animation: 0.75s print linear alternate infinite;
  }
  .loader:after{
    content: '';
    position: absolute;
    right: -4px;
    top: 50%;
    transform: translatey(-45%);
    width: 2px;
    height: 1.3em;
    background: currentColor;
    opacity: 0.8;
    animation: 1s blink steps(2) infinite;
  }
  
  @keyframes blink {
    0%  { visibility: hidden;}
    100%  { visibility: visible;}
  }
  @keyframes print {
    0% { content: 'A'}
    7% { content: 'Ad'}
    14% { content: 'Adh'}
    21% { content: 'Adha'}
    28% { content: 'Adhan'}
    35% { content: 'AdhanT'}
    42% { content: 'AdhanTi'}
    49% { content: 'AdhanTim'}
    57% { content: 'AdhanTimi'}
    64%{ content: 'AdhanTimin'}
    71%{ content: 'AdhanTiming'}
    78.%{ content: 'AdhanTiming-'}
    85%{ content: 'AdhanTiming-4'}
    92%, 100%{ content: 'AdhanTiming-4U'}
  }

  @keyframes displ {
    0% {opacity: 1;}
    10%{opacity:1;}
    20% {opacity: 1;}
    30%{opacity:1;}
    40% {opacity: 1;}
    50%{opacity:0.9;}
    60% {opacity:0.7;}
    70%{opacity:0.5;}
    80%{opacity:0.3;}
    90%{opacity:0.1;}
    100%{opacity:0;}
  }

